* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif, 'Times New Roman', Times, serif;
    list-style-type: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.border {
    padding: 0 120px;
    margin-bottom: 80px;
}

.border-two {
    padding: 0 160px;
    margin-bottom: 80px;
}

header {
    background-color: #1F2937;
    color: white;
    flex: 1;
}

li {
    font-size: 15px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

h4 {
    font-size: 18px;
    font-weight: 900;
}

.hero-container p {
    font-size: 18px;
    color: #E5E7EB;
}

.navigation {
    flex: 1;                        
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

ul.navigation {
    text-align: right;
    margin-right: auto;
}

.hero-img {
    max-width: 50%;
    flex: 2;
}

.header {
    display: flex;
    align-items: center;          
    gap: 0;
    margin: 20px 0 60px 0;
}

.header h2 {
    flex: 1;                          
    margin: 0;
    text-align: left;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.hero-container {
    flex: 1;
}

.hero-button {
    padding: 5px 10px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: 0px;
    width: 90px;
    margin: 10px 0;
}

.cards-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.card-info img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.quote-section {
    background-color: #E5E7EB;
    font-size: 24px;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quote-section p {
    font-size: 26px;
    color: #1F2937;
    font-weight: 300;
}

.quote-section p:last-child {
    align-self: flex-end;
    font-size: 18px;
    font-weight: 900;
    margin-top: 10px;
}

.action-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882F6;
    color: white;
    padding: 40px 10px;
    border-radius: 5px;
}

.action-button {
    color: white;
    background-color: #3882F6;
    width: 100px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 15px;
}

.action-container p {
    font-size: 14px;
}

footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 30px;
}

@media only screen and (max-width: 800px) {
    img {
        max-width: 500px;
        min-width: 200px;
    }
}