* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif, 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    border: 2px solid red;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h2 {

}

.navigation {
    display: flex;
    list-style-type: none;
    gap: 15px;
}